/* common styles */

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right:auto;



outline: 2px solid red;
outline-offset: -2px;


}

body {
font-family: Roboto, sans-serif;
color: #434455;
background-color: #FFF;
font-style: normal;
font-weight: 400;
}

h2 {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

h3 {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
}

p {
font-size: 16px;
line-height: 1.5;
}

/* header */


.container {
  
    max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}
   



.header {
border-bottom: 1px solid #e7e9fc;



}






.navigation{
   


display: flex;
align-items: center;

}

.logo {
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
margin-right: 76px




}

.accent {
color: #2E2F42;
}

.site-nav {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
text-decoration: none;
list-style: none;
display: flex;
    align-items: center;
    gap: 40px;










}



.site-contacts {

list-style: none;
display: flex;
gap: 40px;
    
  



}

.address {
font-size: 16px;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
padding-left: 156px;




   
}

.link {
color: #2E2F42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
padding: 24px 0;

}


.link-contacts {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
list-style: none;



}

.link:hover {
color: #404BBF;
}

.link:focus {
color: #404BBF;
}

.link-contacts:hover {
color: #404BBF;
}

.link-contacts:focus {
color: #404BBF;
}

/* section 1 */

.hero-section {
background: #2E2F42;
padding: 188px 0;
flex-shrink: 0;
text-align: center;
}

.hero-title {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;  
margin: 0 auto;
}

.button {
display: block;
cursor: pointer;
background: #4D5AE5;
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
margin: 48px auto;
height: 56px;
min-width: 169px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
}

.button:hover {
background: #404BBF;
}

.button:focus {
background: #404BBF;
}

/* section 2 */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.section-two {
    padding: 120px 0;
}

.features-title{
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px
}

.features-list {
list-style: none;
display: flex;
gap: 24px;

}

.features-list-item {

width: calc((100% - 72px) / 4);
}



.features-paragraph {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}

/* section 3 */

.section-three{
background: #F4F4FD;
padding: 120px 0;

}

.our-team-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;

}

.our-team-list{
list-style: none;
background-color: #F4F4FD;
display: flex;




}

.our-team-list-item {
    background-color: #FFF;
    margin-right: 24px;
    
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
    
}

.our-team-list-title {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;


}

.name-position{
padding: 32px 0;
}

.our-team-paragraph {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center; 

}

/* section 4 */

.section-four {
    padding-top: 120px;
}

.our-portfolio {
    margin-bottom: 72px;
}

.our-portfolio-title {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.our-portfolio-list{
list-style: none;
display: flex;
flex-wrap: wrap;
column-gap: 24px;
}

.our-portfolio-paragraph {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* footer */

.footer {
background: #2E2F42;
padding: 100px 0;
margin-bottom: 16px;
}

.logo-footer {
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 76px
        display: inline-block;
        margin-bottom: 16px;

}

.accent-footer {
color: #F4F4FD;
}



.footer-paragraph {
color: #F4F4FD;
line-height: 1.5;
letter-spacing: 0.02em;

}