/* common styles */

img {
    display: block;
}

.container {
max-width: 1158px;
padding-left: 15;
padding-right: 15;
margin-left: auto;
margin-right:auto;

outline: 2px solid red;
outline-offset: -2px;


}

body {
font-family: Roboto, sans-serif;
color: #434455;
background-color: #FFF;
font-style: normal;
font-weight: 400;
}

h2 {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

h3 {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
}

p {
font-size: 16px;
line-height: 1.5;
}

/* header */

.container-header {

    display: flex;
    align-items: center;

}

.header {
border-bottom: 1px solid #e7e9fc;

}






.navigation{
   






}

.logo {
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;



}

.accent {
color: #2E2F42;
}

.site-nav {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
text-decoration: none;
list-style: none;
display: flex;
    align-items: center;










}



.site-contacts {

list-style: none;
    
  



}

.address {
font-size: 16px;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;




   
}

.link {
color: #2E2F42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;

}


.link-contacts {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
list-style: none;



}

.link:hover {
color: #404BBF;
}

.link:focus {
color: #404BBF;
}

.link-contacts:hover {
color: #404BBF;
}

.link-contacts:focus {
color: #404BBF;
}

/* section 1 */

.hero-section {
background: #2E2F42;
padding: 188px 0;
flex-shrink: 0;
text-align: center;
}

.hero-title {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;  
margin: 0 auto;
}

.button {
display: block;
cursor: pointer;
background: #4D5AE5;
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
margin: 48px auto;
height: 56px;
min-width: 169px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
}

.button:hover {
background: #404BBF;
}

.button:focus {
background: #404BBF;
}

/* section 2 */

.features-title{
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.features-list {
list-style: none;
}

.features-paragraph {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* section 3 */

.section-three{
background: #F4F4FD;
}

.our-team-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.our-team-list{
list-style: none;
background-color: #F4F4FD;
}

.our-team-list-item {
    background-color: #FFF;
}

.our-team-list-title {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.our-team-paragraph {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* section 4 */

.our-portfolio-title {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.our-portfolio-list{
list-style: none;
}

.our-portfolio-paragraph {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* footer */

.footer {
background: #2E2F42;
}

.accent-footer {
color: #F4F4FD;
}

.footer-paragraph {
color: #F4F4FD;
line-height: 1.5;
letter-spacing: 0.02em;
}